<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% include custom/head.html %}

    <meta name="author" content="{{ site.author.name }}">
  </head>

  <body>
    <div id="wrap">

      {% include custom/navigation.html %}

      <div class="container">
        {{ content }}
      </div>

    </div>

    {% include JB/analytics %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
